* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: sans-serif;
  background-color: #dceff7;
}

div.container {
  display: flex;
  margin-inline: auto;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}